{{define "Index"}}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Loja</title>
    <link rel="stylesheet" href="style.css">
    <script defer src="main.js"></script>
</head>
<body>
    <h1>Alura loja</h1>
    <table>
        <thead>
            <tr>
                <th>Nome</th>
                <th>Descrição</th>
                <th>Preço</th>
                <th>Quantidade</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th>Camiseta</th>
                <th>Bem bonita</th>
                <th>29</th>
                <th>10</th>
            </tr>
        </tbody>
        <tbody>
            <tr>
                <th>Notebook</th>
                <th>Muito rápido</th>
                <th>1999</th>
                <th>2</th>
            </tr>
        </tbody>
    </table>
</body>
</html>
{{end}}